[Unit]
Description=Logstash
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/logstash
# this variable is used in logstash config!
Environment=HOSTNAME=%H

User=logstash
Group=logstash

ExecStart=/opt/logstash/bin/logstash

# StandardOutput is configured to redirect to journalctl since
# some error messages may be logged in standard output before
# elasticsearch logging system is initialized. Elasticsearch
# stores its logs in /var/log/elasticsearch and does not use
# journalctl by default. If you also want to enable journalctl
# logging, you can simply remove the "quiet" option from ExecStart.
StandardOutput=journal
StandardError=inherit

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=30

# SIGTERM signal is used to stop the Java process
KillSignal=SIGTERM

# Java process is never killed
SendSIGKILL=yes

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
