[Unit]
Description=Redis persistent key-value database
After=network.target

[Service]
ExecStart=/opt/redis/bin/redis-server /opt/redis/redis.conf --daemonize no
ExecStop=/opt/redis/bin/redis-shutdown
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
